body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items:flex-start;
    justify-content: left;
    height: 7vh;
}

.configuração-elemento {
    width: 10px;
    height: 100px;
    background: linear-gradient(to right, #FF0000 50%, transparent 50%);
}

.configuração-container {
    background-color: #0000007a;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    width: 15rem;
    max-width: 15rem;
    text-align: left; /* Alinha o texto à esquerda */
}
.configuração-container h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: left;
}

.configuração-container form {
    display: flex;
    flex-direction: column; /* Coloca os itens na vertical */
    align-items: flex-start; /* Alinha todos à esquerda */
    flex-direction: column-reverse; 
}

.configuração-container label {
    margin-bottom: 5px;
    font-size: 16px;
}

.configuração-container input {
    width: 100%;
    padding: 2px;
    margin-bottom: 1px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 14px;
    text-align: left; /* Garante que o texto do campo de entrada fique à esquerda */
}

.configuração-container button {
    width: 10%;
    padding: 1px;
    background-color: #66bb6a;
    color: #fff;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.configuração-container button:hover {
    background-color: #4caf50;
}

.forgot-password {
    color:black;
    text-decoration: none;
    display: inline-block;
    margin-top: 0,1px;
    transition: color 0.3s ease;
}

.forgot-password:hover {
    color:black;
}


